@import "../common.module.scss";

.main {
  background: white;
  border-radius: $borderRadiusCircle;
  margin-top: $unit2;
  padding: $mainContainerLeftAndRightMargin;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: $unit2;
}

.headerWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid $unit0_5 $backgroundColor;
}
.status {
  @include globalSubtitle;
}
.storeWrapper {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.imageWrapper {
  display: flex;
  justify-content: flex-end;
  .image{
    height: $coverImageHeight * .8;
    width: $coverImageWidth * .8;
  }
}

.storeAddressWrapper {
  display: flex;
  height: 100%;
  .pointWrapper {
    display: flex;
    flex-direction: column;
    width: 10px;
    align-items: center;
    justify-content: center;
    .line {
      height: 40%;
      background: $borderGrayColor;
      width: 1px;
    }
  }
  .storeAddress {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: $unit1;
    font-size: $unit4;
  }
}
.name {
  font-weight: bold;
}
.dateWrapper {
  display: flex;
  justify-content: space-between;
  @include globalSubtitle;
}
.durationWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  .backgroundLine {
    background: $backgroundColor;
    height: $unit0_5;
    width: $unit8;
  }
}
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  .button {
      margin-left: $unit1;
  }
}
.button {
  width: $unit18;
  text-align: center;
  background: $noticeColor;
  color: white;
  border-radius: $borderRadiusCircle;
  padding: $unit1_5 $unit3;
  font-size: $unit3_5;
}

.notice {
  text-align: right;
  color:red;
  font-size: $unit3;
}
.orderNo {
  font-size: $subtitleSize;
  display: flex;
  align-items: center;
}
.copyIcon {
  @include globalSubtitle;
  margin-left: $unit1;
}

.remarkWrapper {
  display: flex;
  color: gray;
  font-size: $unit3_5;
}
