@import "../../global.scss";

.main {
  height: 100vh;
  width: $unit100;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $backgroundColor;
}
.image {
  width: 60%;
  margin-top: $unit10;
}
.directLogin {
  margin-top: $unit3_5 * 4;
  width: 80%;
  background: $noticeColor;
  border-radius: $borderRadiusCircle;
  text-align: center;
  color: white;
}
.phoneLoginOrRegister {
  margin-top: $unit3_5;
  font-size: $subtitleSize;
}
.checkBox {
}
.agreementWrapper {
  margin-top: $unit3_5 * 4;
  width: 80%;
}
