@import "../../commond.module.scss";

.emptyContainer {
  width: $unit100;
  height: $cityBarHeight;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
}
.listWrapper {
  height: $cityBarHeight;
  width: $unit100;
  overflow-y: scroll;
  $height: $unit10;
  .itemWrapper {
    background: white;
    background: white;
    .item {
      height: $height;
      border-bottom: solid 1px $borderGrayColor;
      line-height: $height;
      margin-left: $unit3;
    }
  }
}
