@import "../../../global";

$fontSize: $unit3_5;
$color: #1f2937;
.main {
  background: $backgroundColor;
  height: 100vh;
}
.carContainerWrapper {
  background: white;
  padding: $mainContainerLeftAndRightMargin;
  .title {
    color: $color;
    font-size: $fontSize;
  }
  .container {
    margin-top: $mainContainerLeftAndRightMargin;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax($unit25,1fr));
    gap:10px;
    .button {
      color: #6b7280;
      border: solid 1px $borderGrayColor;
      padding: $unit1 $unit1;
      border-radius: $unit1;
      font-size: $fontSize;
      text-align: center;
    }
    .activeTag {
      border-color: $noticeColor;
      color: $noticeColor;
    }
  }
}
.textAreaWrapper {
  display: flex;
  justify-content: center;
  .textArea {
    border: none;
    border-radius: $borderRadiusCircle;
    background: $backgroundColor;
    padding: $unit3;
    width: 100%;
    font-size: $fontSize;
  }
}
.point {
  color: red;
  margin-right: $unit1;
}
.contactWrapper {
  background: white;
  margin-top: $unit1;
  padding: 0 $unit3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 100%;
  .contactItem {
    color: $color;
    $height: $unit10;
    height: $height;
    line-height: $height;
    border-bottom: solid 2px $backgroundColor;
    &:last-child {
    border-bottom: none;
  }
  }
}
.servicePhoneWrapper {
  margin-left: $unit3_5;
  font-size: $unit3;
  color: $subtitleColor;
  $height: $unit8;
  height: $height;
  line-height: $height;
  .servicePhone {
    padding: 0 $unit1;
    color: $noticeColor;

  }
}
.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: $unit15;
  .submitButton {
    width: 80%;
    color: white;
    $height: $unit10;
    height: $height;
    line-height: $height;
    background: $noticeColor;
    text-align: center;
    border-radius: $unit3_5;
  }
}
