@import "../common.module.scss";

$height: $bottomHeight;
.main {
  border-top: solid 1px $borderGrayColor;
  box-sizing: border-box;
  height: $height;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-column-gap: $unit2;
  align-items: center;
  padding: 0 $unit5;
}
