@import "../../global.scss";

$tabsHeight: 6vh;
$orderContainerHeight: $mainContainerHeight - $tabsHeight;
@mixin tabs{
  height: $tabsHeight;
}

@mixin orderContainer{
  height: $orderContainerHeight;
}
