@import "./common.module.scss";

.main {

}
.tabs {
  position: fixed;
  top: 0;
}

.orderListWrapper {
  @include orderContainer;
  background: $backgroundColor;
  padding: 0 $unit2 $unit2;
  overflow-y: auto;
}
