@import "../../../../global.scss";
.main {
  margin: $unit3;
  .balanceWrapper {
    background: white;
    border-radius: $borderRadiusCircle;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .title {
      margin-top: $unit6;
      font-size: $unit3;
    }
    .balance {
      margin-top: $unit2;
      font-size: $unit8;
    }
    .buttonWrapper {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $unit2;
      margin: $unit6 0;
    }
  }
}

.topUpWrapper {
  background: white;
  border-radius: $borderRadiusCircle;
  width: $unit80;
  padding: $unit5;
  @mixin  layout {
    display: grid;
    $firstGrid: 15%;
    grid-template-columns: $firstGrid 100% - $firstGrid;
  }
  .textarea {
    margin-top: $unit4;
    @include layout;
  }
  .inputWrapper {
    @include layout;
    align-items: center;
    margin-top: $unit8;
    font-size: $unit8;
  }
  .buttonWrapper {
    margin-top: $unit4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $unit2;
  }
}
.notice {
  margin-top: $unit2;
  color: red;
  font-size: $unit3;
}

