@import "../common.module";

@mixin dropdownContainerStyle {
  background: white;
  border-bottom-left-radius: $borderRadiusCircle;
  border-bottom-right-radius: $borderRadiusCircle;
  padding-bottom: $mainContainerLeftAndRightMargin;
}
