@import "../../../../global.scss";
.main {
  height: 100%;
}
.container {
  margin: 0 $mainContainerLeftAndRightMargin;
  height: 90%;
  display: grid;
  grid-template-rows: 100%;
  $inputGridWidth: 88%;
  grid-template-columns: $inputGridWidth 100% - $inputGridWidth;
  align-items: center;
  justify-content: space-between;
}

.button {
  font-size: $subtitleSize;
  text-align: right;
}
.searchSpinner {
  background: $backgroundColor;
  height: 100%;
  border-radius: $borderRadiusCircle;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  @include globalSubtitle;
  font-size: $subtitleSize;
  .title {
    margin-left: $unit1;;
  }
}
.input {
  width: 90%;
}
