@import "../../../global";

.main{
  background: #F3F3F3;
}

.container {
  padding:$unit2 $unit3;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: $unit1_5;
}
.carContainer {
  @include curveBottomLine($unit50);
}
.spin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  .title {
    text-align: center;
  }
  .listenWrapper {
    padding: $unit3;
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: $unit4;
    background: white;
    justify-self: center;
    border-radius: $borderRadiusCircle;
    max-height: 90%;
    overflow-y: scroll;
    .button {
      padding-bottom: $unit4;
    }
  }
}
