@import "../../../global";

.main{
  background: #F3F3F3;
}

.container {
  padding:$unit2 $unit3;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: $unit1_5;
}
.carContainer {
  @include curveBottomLine($unit50);
}
