@import "../../global.scss";

$searchBarHeight: 7.5vh;

$cityBarHeight: 100vh - $searchBarHeight;

$iphone5DifferenceHeight: 2vh;
@mixin headerHeightMixin {
  height: $searchBarHeight - $iphone5DifferenceHeight;
  @media #{$iphone5} {
    height: $searchBarHeight;
  }
}

@mixin bodyHeightMixin {
  height: $cityBarHeight + $iphone5DifferenceHeight;
  @media #{$iphone5} {
    height: $cityBarHeight;
  }
}
