@import "../../../../commond.module.scss";

$dateHeight: $unit9;
@mixin rangeStyle {
  background-color: $primaryThemeColor2;
}
.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}
.daysWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  grid-row-gap: $unit1;
  justify-items: center;
}
.title {
  font-size: $unit5_5;
  height: $unit8;
  line-height: $unit8;
  padding: $unit3;
}

.dateWrapper {
  $dateWrapperHeight:$unit12;
  height: $dateWrapperHeight;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
  .disable {
    color: $borderGrayColor;
  }
  .date {
    height: $dateHeight;
    line-height: $dateHeight;
    display: flex;
    position: relative;
  }
  .subtitle {
    $subTitleHeight: $unit3;
    font-size: $subTitleHeight;
    height: $subTitleHeight;
    color: $subtitleColor;
    width: 100%;
  }
}

.radiusNumberWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  .radius {
    height: $dateHeight;
    width: $dateHeight;
    border-radius: 100%;
  }
  .today {
    color: $primaryThemeColor;
  }
  .isSunday {
    @include rangeStyle;
  }
  .active {
    background: $primaryThemeColor;
    color: white;
  }
}
.append {
  flex-grow: 1;
}
.dateRange {
  @include rangeStyle;
}
