@import "../../../../global.scss";

.main {
  margin: $unit3;
  border-radius: $borderRadiusCircle;
  background: white;
  padding: $unit3;
  .header {
    display: flex;
    justify-content: space-between;
    $height: $unit8;
    height: $height;
    line-height: $height;
    border-bottom: solid 1px $gray2;
    margin-bottom: $unit3;
    .right {
      color: gray;
      display: flex;
      .icon {
        margin-left: $unit0_5;
        font-size: $unit4;
      }
    }
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: $unit3;
  }
  .notFount {
    padding: $unit3;
  }
}
.itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $unit18;
  .leftBar {
    display: flex;
    flex-direction: column;
    .subtitle {
      margin-top: $unit1_5;
      font-size: $unit3_5;
      color: gray;
    }
  }
  .rightWrapper {
    @extend .leftBar;
  }
  border-bottom: solid 1px $gray2;
  &:last-child {
    border-bottom: none;
  }
}
.warningColor {
  color: rgb(251 191 36);
}
.amountWrapper {
  display: flex;
  align-items: center;
  .notice {
    font-size: $unit3;
    margin-left: $unit1;
  }
  .failed {
    color: red;
  }
}
