@import "../common.module.scss";

.main {
  @include dropdownContainerStyle;
}
@mixin listCommonStyle {
  max-height: $unit80;
}
.listWrapper {
  display: grid;
  $firstGrid: 35%;
  grid-template-columns: $firstGrid 100% - $firstGrid;
  @include listCommonStyle;
}
.leftWrapper {
  background: $backgroundColor;
  overflow-y: auto;
  @include listCommonStyle;

}

.image {
  $size: $unit8;
  width: $size;
  height: $size;
  margin-right: $unit3;
}

.leftItemWrapper {
  font-size: $unit4;
  display: grid;
  $firstGrid: 35%;
  $thirdGrid: 5%;
  grid-template-columns: $firstGrid 100% - $firstGrid - $thirdGrid $thirdGrid;
  align-items: center;
  align-content: center;
  padding: $unit3;
  border-left: solid $unit1 transparent;
}

.point {
  border-color: $noticeColor;
  border-style: solid;
  width: 0;
  height: 0;
  border-radius: 100%;
}
.active {
  border-left: solid $unit1 $noticeColor;
  box-sizing: border-box;
  background: white;
}
.seriesWrapper {
  padding: $mainContainerLeftAndRightMargin;
  font-size: $subtitleSize;
  display: flex;
  justify-content: space-between;
}
.activeBrand {
  color: $noticeColor;
}
.rightWrapper {
  overflow-y: auto;
  @include listCommonStyle;
}
.buttonWrapper {
  margin: $unit6 $unit6 $unit3;
  display: grid;
  $firstGrid: 30%;
  grid-template-columns: $firstGrid 100% - $firstGrid;
  grid-column-gap: $unit3;
  $height: $unit12;
  height: $height;
  @mixin button{
    text-align: center;
    line-height: $height;
    border-radius: $unit6;
  }
  .clearButton {
    border: solid 1px $borderGrayColor;
    background: white;
    color: $subtitleColor;
    width: 100%;
    @include button;
  }
  .confirmButton {
    @include button;
    width: 100%;
    background: $noticeColor;
    color: white;
  }
}
