@font-face {
  font-family: "iconfont"; /* Project id 3160513 */
  src: url('iconfont.woff2?t=1651425237758') format('woff2'),
       url('iconfont.woff?t=1651425237758') format('woff'),
       url('iconfont.ttf?t=1651425237758') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-transaction:before {
  content: "\e6d5";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-edit:before {
  content: "\e66e";
}

.icon-train:before {
  content: "\e600";
}

.icon-airport:before {
  content: "\e67c";
}

.icon-navigation:before {
  content: "\e651";
}

.icon-phone:before {
  content: "\e604";
}

.icon-copy:before {
  content: "\e8b0";
}

.icon-cha:before {
  content: "\e609";
}

.icon-coupon:before {
  content: "\e60e";
}

.icon-exclamation-mark:before {
  content: "\e8ec";
}

.icon-help:before {
  content: "\e752";
}

.icon-insurance:before {
  content: "\e677";
}

.icon-engine:before {
  content: "\e798";
}

.icon-volume:before {
  content: "\e603";
}

.icon-seat:before {
  content: "\e62f";
}

.icon-power:before {
  content: "\e615";
}

.icon-displacement:before {
  content: "\e7a5";
}

.icon-notice:before {
  content: "\e62b";
}

.icon-right:before {
  content: "\e6a3";
}

.icon-close:before {
  content: "\e69e";
}

.icon-tousupingjia:before {
  content: "\e616";
}

.icon-kaojiazhao:before {
  content: "\e691";
}

.icon-wechat:before {
  content: "\e61d";
}

.icon-balance:before {
  content: "\e619";
}

.icon-youhuiquan:before {
  content: "\e764";
}

.icon-kefu:before {
  content: "\e65a";
}

.icon-dengchu:before {
  content: "\e620";
}

.icon-weizhangshigujilu:before {
  content: "\e635";
}

.icon-shenfenzheng:before {
  content: "\e614";
}

.icon-fapiao:before {
  content: "\e6ab";
}

.icon-lianxiren:before {
  content: "\e618";
}

.icon-tousu:before {
  content: "\e638";
}

.icon-password:before {
  content: "\e6a9";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-car-o:before {
  content: "\e75f";
}

.icon-order:before {
  content: "\e62a";
}

