@font-face {
  font-family: "iconfont"; /* Project id 3160513 */
  src: url('iconfont.woff2?t=1643074192207') format('woff2'),
       url('iconfont.woff?t=1643074192207') format('woff'),
       url('iconfont.ttf?t=1643074192207') format('truetype');
}

.icon{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car-o:before {
  content: "\e75f";
}

.icon-order:before {
  content: "\e62a";
}

