@import "../../common.module.scss";

.main {
  @include bodyHeightMixin;
  background: #F5F5F5;
  display: grid;
  grid-template-columns: 93% 7%;
  grid-template-rows: 100%;
  .city {
    height: 100%;
    width: 100%;
  }
}
.locationBarWrapper {
  border-left: solid 1px $borderGrayColor;
  box-sizing: border-box;
  padding-top: .5rem;
}
.locationListWrapper {
  display: grid;
  grid-template-rows: repeat(8, 3vh);
  align-items: center;
  justify-content: center;
  grid-row-gap: 5px;
  .letter {
    justify-self: center;
    font-size: $unit3;
    color: $primaryThemeColor;
    height: 2vh;
  }
}
.leftBarWrapper {
  @include bodyHeightMixin;
  overflow-y: scroll;
}

.notFoundWrapper {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
  width: 100vw;
}
