@import "../../../../global.scss";
@import "../commond.module.scss";

.main {
  display: grid;
  grid-template-columns:$operationInterfaceFirstGridColumn auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 33%) ;
  margin-top: $mainContainerLeftAndRightMargin;
  justify-content: center;
  align-items: center;
  .item2 {
    display: grid;
    border-bottom: solid 1px $borderGrayColor;
    grid-template-columns: 100%;
    padding-bottom: $unit1;
    @include globalSubtitle;
    justify-items: center;
  }
  .item3 {
    justify-items: right;
    @extend .dateItem;
  }
}
.dateItem {
  display: grid;
  grid-template-columns: 100%;
}
.weekTime {
  margin-top: $unit2;
  @include globalSubtitle;
}
