@import "../../../../global.scss";
@import "../commond.module.scss";

.main {
  @include row;
  display: grid;
  grid-template-rows: 100%;
  justify-content: center;
  .button {
    width: $unit80;
  }
}
