@import "../../../global.scss";

$containerWidth: 90%;
.main {
  background: $backgroundColor;
  height: 100vh;
  width: $unit100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin-top: $unit10;
  $size: $unit30;
  width: $size;
  height: $size;
  border-radius: 100%;
}
.formWrapper {
  margin-top: $unit5;
  background: white;
  width: $containerWidth;
  border-radius: $unit3;
}
$color: #C5C5C5;
$leftRightPadding: $unit2;
.phoneInputWrapper {
  display: flex;
  align-items: center;
  padding: $unit3 $leftRightPadding;
  border-bottom: solid $unit0_5 $backgroundColor;
}

.icon {
  font-size: $unit7;
  color: $color;
}
.input {
  margin-left: $leftRightPadding;
}
.code {
  background: $noticeColor;
  color: white;
  border-radius: $unit1;
  padding: $unit1 $leftRightPadding;
  height: $unit5;
  font-size: $unit3_5;
}
.codeWrapper {
  display: flex;
  margin-right: $leftRightPadding;
  justify-content: space-between;
  align-items: center;
}
.agreementWrapper {
  margin-top: $unit10;
  width: $containerWidth;
}
.loginButton {
  margin-top: $unit10;
  width: $containerWidth;
  background: $noticeColor;
  text-align: center;
  padding: $unit3 0;
  border-radius: $borderRadiusCircle;
  color: white;
}
