@import "../common.module";

.headerWrapper {
  @include headerWrapperHeight;
  @include globalSubtitle;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  width: 100vw;
  .dateRange {
    width: 60%;
    $dateGrid: 47%;
    display: grid;
    grid-template-columns: $dateGrid 100% - $dateGrid * 2 $dateGrid;
    justify-content: center;
    justify-self: center;
    align-items: center;
    .dateRangeBetweenBorder {
      border-bottom: solid 1px black;
    }
    .date {
      text-align: center;
    }
  }
}
.endDate {
  display: grid;
  grid-template-columns: auto 10%;
  align-items: center;
  align-self: center;
}
.triangle {
  @include ReversalTriangle($unit1);
}
