@import "../../../../global.scss";
@import "../../common.module.scss";

$containerHeight: $unit9;
$borderRadiusCircle: $borderRadiusCircle;

@mixin main {
  padding: 0 $mainContainerLeftAndRightMargin;
  display: grid;
  grid-column-gap: $unit1;
  align-items: center;
  background: #E8E8E8;
  @include headerHeightMixin;
}
@mixin fontSize {
  font-size: $subtitleSize;
}
.main {
  @include main;
  grid-template-columns: 90% 10%;
}
.inputRender {
  height: $containerHeight;
  background: white;
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: center;
  align-items: center;
  border-radius:$borderRadiusCircle;
  .input {
    padding-left: 0;
    border-bottom-right-radius: $borderRadiusCircle;
    border-top-right-radius: $borderRadiusCircle;
    font-size: $unit3_5;
  }
  .iconWrapper {
    display: flex;
    justify-content: center;
    .icon {
      color: #C5C5C5;
    }
  }
}

.cancel {
  text-align: center;
  color: $primaryThemeColor;
  @include fontSize;
}

.placeholderWrapper {
  @include main;
  .container {
    height: $containerHeight;
    border-radius: $borderRadiusCircle;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    @include fontSize;
    color: gray;
  }
}
