@import "../../common.module.scss";

.leftWrapper {
  overflow-y: scroll;
  background: $backgroundColor;
  .leftContainer {
    background: white;
  }
  .item {
    background: $backgroundColor;
    $height: $unit10;
    height: $height;
    text-align: center;
    font-size: $subtitleSize;
    padding: $unit2 0;
    display: grid;
    grid-template-columns: 100%;
    .subtitle  {
      font-size: $unit3;
      color: #8E8E8E;
    }
    &:last-child {
      height: $unit2;
    }
  }
  .active{
    background: white;
    color: $noticeColor;
    border-left: solid $unit1 $noticeColor;
    .categoryName {
      color: $noticeColor;
    }
  }
  .recommand {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $noticeColor;
  }
  $activeBorderRadiusCircle: $unit3;
  .active + .item{
    border-top-right-radius:$activeBorderRadiusCircle;
  }
  .activePrevSibling {
    background: red;
  }
  .prevSiblingItem {
    border-bottom-right-radius: $activeBorderRadiusCircle;
  }
}
.rightWrapper {
  overflow-y: scroll;
  height: 100%;
  background: yellow;
}
.categoryName {
  color: #3E3E3E;
  font-size: $unit3_5;
}
