@import "../common.module";

.main {
  height: $topHeight;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.noteWrapper {
  display: grid;
  grid-row-gap: $unit1;
  .month {

  }
  .week {
    color: $subtitleColor;
    font-size: $unit3_5;
  }
  .textAliceRight {
    text-align: right;
  }
}

.rightDirect {
  display: flex;
  align-items: center;
  .line {
    width: $unit12;
    height: $unit0_5;
    border-bottom: $unit1 solid $subtitleColor;
  }
  .triangle {
    @include LeftTriangle($unit1, $subtitleColor);
  }
}

