@import "../../../common.module.scss";

.firstRowWrapper {
  display: grid;
  $firstGrid: 45%;
  grid-template-columns: $firstGrid 100% - $firstGrid;
  grid-gap: $unit1;
}
.image {
  width: 100%;
  height: $unit20;
}
.playIconWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
}
.leftInfoWrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: $unit0_75;
  .nameWrapper {
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    .license {
      margin-left: $unit1;
      background: #4885EE;
      padding: $unit0_75;
      border-radius: $unit1;
      color: white;
      font-size: $unit3;
      text-align: center;
    }
  }
  .configurationWrapper {
    display: flex;
    color: $subtitleColor;
    font-size: $unit3;
  }
}
.tagWrapper {
  display: flex;
  .tag {
    color: $noticeColor;
    background: #FEF8F5;
    height: $unit4;
    line-height: $unit4;
    font-size: $unit3;
    &:not(:first-child) {
      margin-left: $unit1;
    }
  }
}

.main {
  height: $unit27;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: $unit2;
  margin: $unit1 $mainContainerLeftAndRightMargin;
  border-radius: $unit2;
  padding: $mainContainerLeftAndRightMargin;
  box-shadow: $boxShadow;
}
.secondRowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.satisfaction {
  color: $noticeColor;
}
.satisfactionWrapper {
  color: $subtitleColor;
  font-size: $unit3_5;
  display: flex;
}
.carDetail {
  display: flex;
  align-items: center;
  margin-left: $unit1;
  .directIcon {
    display :inline-block;
    position: relative;
    margin-left: $unit0_75;

    $iconSize: $unit3;
    width: $iconSize;
    height: $iconSize;
    margin-right: 20px;
    &:after {
      display: inline-block;
      content: " ";
      height: $iconSize / 2;
      width: $iconSize / 2;
      border-width: 4px 4px 0 0;
      border-color: #c7c7cc;
      border-style: solid;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 50%;
      right: 6px;
      margin-top: -9px;
    }
  }

}
.price {
  &:not(:last-child){
    color: $noticeColor;
  }
  &:nth-child(2) {
    font-weight: bold;
  }
  &:not(:nth-child(2)) {
    font-size: $unit3;
  }
  &:nth-child(3) {
    color: $subtitleColor;
  }
}
