$unit0_5: .5vw; $unit1:1vw; $unit1_5: 1.5vw; $unit0_75:.75vw;$unit2:2vw; $unit3:3vw; $unit3_5: 3.5vw; $unit4:4vw; $unit5:5vw; $unit6:6vw; $unit7:7vw; $unit8:8vw; $unit9:9vw; $unit10:10vw; $unit11:11vw; $unit12:12vw; $unit13:13vw; $unit14:14vw; $unit15:15vw; $unit16:16vw; $unit17:17vw; $unit18:18vw; $unit19:19vw; $unit20:20vw; $unit21:21vw; $unit22:22vw; $unit23:23vw; $unit24:24vw; $unit25:25vw; $unit26:26vw; $unit27:27vw; $unit28:28vw; $unit29:29vw; $unit30:30vw; $unit31:31vw; $unit32:32vw; $unit33:33vw; $unit34:34vw; $unit35:35vw; $unit36:36vw; $unit37:37vw; $unit38:38vw; $unit39:39vw; $unit40:40vw; $unit41:41vw; $unit42:42vw; $unit43:43vw; $unit44:44vw; $unit45:45vw; $unit46:46vw; $unit47:47vw; $unit48:48vw; $unit49:49vw; $unit50:50vw; $unit51:51vw; $unit52:52vw; $unit53:53vw; $unit54:54vw; $unit55:55vw; $unit56:56vw; $unit57:57vw; $unit58:58vw; $unit59:59vw; $unit60:60vw; $unit61:61vw; $unit62:62vw; $unit63:63vw; $unit64:64vw; $unit65:65vw; $unit66:66vw; $unit67:67vw; $unit68:68vw; $unit69:69vw; $unit70:70vw; $unit71:71vw; $unit72:72vw; $unit73:73vw; $unit74:74vw; $unit75:75vw; $unit76:76vw; $unit77:77vw; $unit78:78vw; $unit79:79vw; $unit80:80vw; $unit81:81vw; $unit82:82vw; $unit83:83vw; $unit84:84vw; $unit85:85vw; $unit86:86vw; $unit87:87vw; $unit88:88vw; $unit89:89vw; $unit90:90vw; $unit91:91vw; $unit92:92vw; $unit93:93vw; $unit94:94vw; $unit95:95vw; $unit96:96vw; $unit97:97vw; $unit98:98vw; $unit99:99vw; $unit100:100vw;
$mainContainerLeftAndRightMargin: 3vw;
$mainContainerWidth: 100vw - $mainContainerLeftAndRightMargin * 2;
$borderRadiusCircle: $unit5;
$boxShadow: 2px 2px 8px #2e293314, 2px 4px 8px #473f4f29;
$subtitleColor: #707070;
$borderGrayColor: #E1E1E1;
$primaryThemeColor: #3C61FF;
$backgroundColor: #F5F5F5;
@mixin globalSubtitle {
  color: $subtitleColor;
  font-size: $subtitleSize;
}
$subtitleSize: $unit4;

$phone5DeviceWidth: 320px;

$iphone5:'only screen and (max-width:320px)';

@mixin textEllipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
//$noticeColor:#F57015;
$noticeColor:#78A4FA;
$noticeBackgroundColor:#dbeafe;

@mixin ReversalTriangle($triangleHeight: $unit1, $color: black) {
  width: 0;
  height: 0;
  $borderHeight: $triangleHeight;
  border: $borderHeight solid transparent;
  border-tottom: 0;
  border-top: 0;
  border-top: $borderHeight * 1.7 solid $color;
}
@mixin Triangle($triangleHeight: $unit1, $color: black) {
  width: 0;
  height: 0;
  $borderHeight: $triangleHeight;
  border: $borderHeight solid transparent;
  border-tottom: 0;
  border-top: 0;
  border-bottom: $borderHeight * 1.7 solid $color;
}

@mixin LeftTriangle($triangleHeight: $unit1, $color: black) {
  width: 0;
  height: 0;
  $borderHeight: $triangleHeight;
  border: $borderHeight solid transparent;
  border-left: 0;
  border-right: 0;
  border-left: $borderHeight * 1.7 solid $color;
}
$mainContainerHeight: 93vh;
@mixin mainContainerHeight{
  height: $mainContainerHeight;
}

@mixin layoutHeight{
  height: 100vh - $mainContainerHeight;
}

$coverImageWidth: $unit30;
$coverImageHeight: $unit20;
@mixin coverImage {
  width: $coverImageWidth;
  height: $coverImageHeight;
}
