@import "../../../../../global.scss";
@import "../common.module.scss";

.title{
  font-size: $unit3;
  color: $color;
  margin: $unit2 $mainContainerLeftAndRightMargin;
}
.container {
  padding: $mainContainerLeftAndRightMargin;
  background: white;
}
