@import "../../global.scss";

.main {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
